@charset "ISO-8859-1";

body {
	padding: 40px;
}

table {
	border-collapse: collapse;
	border-spacing: 0px;
	margin: 0 auto;
}

.avatar {
	max-width: 50px;
}

table.bordered th, table.bordered td {
	border: 1px solid-black;
}

table.top {
	border: "1";
	width: 50%;
	margin-top: 50px;
}

th, td {
	padding: 4px;
}

section.header {
	text-align: center;
}

section.home-content {
	text-align: center;
}

input.mr-4 {
	width: 30px;
}

input.mr-3 {
	width: 80px
}
input.mr-2 {
	width: 120px
}

input.ope, button.ope {
	text-decoration: none;
	background-color: #336699;
	color: #ffffff;
	padding: 2px 8px;
	border-radius: 3px;
}

tr.top {
	text-align: center;
}

tr.row-4 {
	border-bottom: 2px solid tomato;
}

td.pre {
	text-align: right;
}

td.register {
	text-align: center;
}

ul {
	padding-inline-start: 0;
	text-align: left; margin-left: auto; margin-right: auto; width: 80px;
}

li {
	text-align: left;
}

p {
	background-color: #FF6666;
}

section.login {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 40px;
}

section.greeting {
	text-align: center;
}

div.ope {
	padding-bottom: 20px;
}

div.image-source {
	margin-left: 1100px;
	margin-top: 200px;
	font-size: 80%;
}

div.index {
	padding: 8px;
}

body.top {
	background-image: url("../img/man.png");
	background-size: 580px;
}

body.error {
	background-image: url("../img/cat.png");
	background-size: 850px;
	background-repeat: no-repeat;
	background-position: top 5px right 150px;
}

body.login {
	background-image: url("../img/meeting.png");
}