<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<form th:action="@{/}" method="post" th:object="${attendanceQuery}">
<table border="1">
<tr>
<th>ユーザー名</th>
</tr>
<td>
<input type="text" name="username" size="40" th:value="*{username}">
</td>
<tr>
<th>月</th>
</tr>
<td>
<input type="number" name="month" th:value="*{month}">
</td>
<button type="submit" th:formaction="@{/attendance/query}">検索</button>
</table>
</form>
<tr th:each="attendance:${attendanceList}">
名前:<td th:text=${attendance.username}></td>
<td th:text=${attendance.month}></td>月　
開始<td th:text=${attendance.day1_st1}></td>:<td th:text=${attendance.day1_st2}></td>
終了<td th:text=${attendance.day1_end1}></td>:<td th:text=${attendance.day1_end2}></td> <br>
</tr>


</body>
</html>