<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
		<style type="text/css">
		table {
		        border-collapse: collapse;
		        border-spacing: 0px;
	    }
	    table.bordered th, table.bordered td {
	             border: 1px solid-black;
	    }
	    th, td {
	    padding: 4px;
	    }
	    </style>
	</head>
	<body>
	<h2>検索条件</h2>
	<form th:action="@{/}" method="post" th:object="${attendanceQuery}">
	        <table>
	                <tr>
	                        <th>月</th>
	                        <td>
                                    <input type="number" name="month" th:value="*{month}">
                            </td>
                    <tr>
                    <tr>
                            <th>日付</th>
                            <td>
                                   <input type="number" name="day" th:value="*{day}">
                            </td>
                    </tr>
                    <tr>
                    <tr>
                    		<th>ソート条件</th>
                    		<td>
                    			<select name="day">
                    				<option value="0">日付（昇）</option>
                    				<option value="1">日付（降）</option>
                    			</select>
                    		</td>
                    </tr>
                    		<td>
                    			<button type="submit" th:formaction="@{/attendance/query}">検索</button>
                    		</td>
            </table>
     </form>

    <!--   項目ごとにoptionでソートさせる

    <form th:action="@{/}" method="post" th:object="${attendanceQuery}">
    <select name="sortdate">
          <option value="day_asc">日付（昇順）</option>
          <option value="day_desc">日付（降順）</option>
    </select>
    </form>

    <form th:action="@{/}" method="post" th:object="${attendanceQuery}">
    <select name="sortdate">
          <option value="name_asc">ユーザー名（あいうえお）</option>
          <option value="name_desc">ユーザー名（わをん）</option>
    </select>
    </form>




    -->



     <h4><a th:href="@{/attendance}"><button type="button">作成へ</button></a></h4>
     <h2>勤務記録</h2>今月の勤務時間<div> <span th:text=${sum_hours}></span>:
     <span th:text=${sum_minutes}></span></div>

                            </td>
     <table class="bordered">
            <thead>
                    <tr>
                             <th>id:</th>
                             <th>名前:</th>
                             <th>年</th>
                             <th>月</th>
                             <th>日</th>
                             <th>開始</th>
                             <th>終了</th>
                             <th>勤務時間</th>
                             <th>操作</th>
                    </tr>
            </thead>
            <tbody>
                    <tr th:each="attendance:${attendanceList}">
                            <td th:text=${attendance.id}></td>
                            <td th:text=${attendance.username}></td>
                            <td th:text=${attendance.year}></td>
                            <td th:text=${attendance.month}></td>
                            <td th:text=${attendance.day}></td>
                            <td>
                                    <span th:text=${attendance.staHour} />
                                    :
                                    <span th:text=${attendance.staMin} />
                            </td>
                            <td>
                                    <span th:text=${attendance.endHour} />
                                    :
                                    <span th:text=${attendance.endMin} />
                            </td>
                            <td>
                                    <span th:text=${attendance.workingHours()} />
                                    :
                                    <span th:text=${attendance.workingMinutes()} />
                            </td>

                            <td>
                                    <div th:if="${attendance.username == #authentication.principal.username}">
                                            <a th:href="@{/attendance/{id}(id=${attendance.id})}">
                                            <button type="button">編集
                                            </a>
                                            <form th:action="@{/delete}" th:object="${attendance}" method="post">
                                            <button type="submit">削除
                                   			</button>
                                   			<input type="hidden" name="id" th:value="${attendance.id}" />
                                   			</form>

                                    </div>
                            </td>
                    </tr>

                    </table>
                     </tbody>
                            <div>
                                <span th:text="|${attendancePage.getNumber() + 1} / ${attendancePage.getTotalPages()}ページを表示中 |">
                                </span>


                                <ul id="nav">


                                   <li>
                                      <span th:if="${attendancePage.isFirst()}">←前</span>
                                      <a th:unless="${attendancePage.isFirst()}" th:href="@{/attendance/list(page=${attendancePage.getNumber()- 1})}">
                                      ←前
                                      </a>
                                   </li>
                                   <li>
                                      <span th:if="${attendancePage.isLast()}">次→</span>
                                      <a th:unless="${attendancePage.isLast()}" th:href="@{/attendance/list(page=${attendancePage.getNumber()+ 1})}">次→</a>
                                   </li>
                                </ul>

                                <!--

                                <ul id="nav">


                                   <li>
                                      <span th:if="${attendancePage.isFirst()}">←前</span>
                                      <a th:unless="${attendancePage.isFirst()}" th:href="@{{attendancePage.url}">
                                      ←前
                                      </a>
                                   </li>
                                   <li>
                                      <span th:if="${attendancePage.isLast()}">次→</span>
                                      <a th:unless="${attendancePage.isLast()}" th:href="@{{attendancePage.url}}">次→</a>
                                   </li>
                                </ul>

                                 -->>




                           </div>



    </body>
</html>