<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<form th:action="@{/}" method="post" th:object="${attendanceQuery}">
<table border="1">
<tr>
<th>ユーザー名</th>
</tr>
<td>
<input type="text" name="username" size="40" th:value="*{username}">
</td>
<tr>
<th>月</th>
</tr>
<td>
<input type="number" name="month" th:value="*{month}">
</td>
<button type="submit" th:formaction="@{/attendance/query}">検索</button>
</table>
</form>
<table border="1">
<tr th:each="attendance:${attendanceList}">
<th>id:</th><td th:text=${attendance.id}></td>
<th>名前:</th><td th:text=${attendance.username}></td>
<th>月</th><td th:text=${attendance.month}></td>　
<th>開始</th><td th:text=${attendance.day1_st1}></td><th>:</th><td th:text=${attendance.day1_st2}></td>
<th>終了</th><td th:text=${attendance.day1_end1}></td><th>:</th><td th:text=${attendance.day1_end2}></td>
<td>
<div th:if="${attendance.username == #authentication.principal.username}">
<a th:href="@{/attendance/{id}(id=${attendance.id})}">編集へ</a>
<a th:href="@{/delete/{id}(id=${attendance.id})}">削除</a>
</div>
</td>
</tr>
</table>


</body>
</html>