<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
		<style type="text/css">
		table {
		        border-collapse: collapse;
		        border-spacing: 0px;
	    }
	    table.bordered th, table.bordered td {
	             border: 1px solid-black;
	    }
	    th, td {
	    padding: 4px;
	    }
	    input.mr-4 {
	    	width:30px;
	    }
	    input.mr-3 {
	    	width:80px
	    }
	    </style>
	</head>
	<body>
	<h2>検索条件</h2>
	<section>

		<form th:action="@{''}" method="get">
		<table class="bordered">
			<tr>
			<th>名前</th>
			<th>月</th>
			<th>日付</th>
			</tr>
			<td><input class="mr-3" type="text" name="username" th:value="${username}"/></td>
			<td><input class="mr-4" type="number" name="month" th:value="${month}"/></td>
			<td><input class="mr-4" type="number" name="day" th:value="${day}"/></td>
			<tr>
			<td><input class="ope" type="submit" value="検索" /></td>
			</tr>
			</table>
		</form>
	</section>





     <h4><a th:href="@{/attendance}"><button type="button">作成へ</button></a></h4>

     <table class="bordered">
            <thead>
                    <tr>
                             <th>id:</th>
                             <th>名前:</th>
                             <th>年</th>
                             <th>月</th>
                             <th>日</th>
                             <th>開始</th>
                             <th>終了</th>
                             <th>勤務時間</th>
                             <th>操作</th>
                    </tr>
            </thead>
            <tbody>
                    <tr th:each="attendance:${attendanceList}">
                            <td th:text=${attendance.id}></td>
                            <td th:text=${attendance.username}></td>
                            <td th:text=${attendance.year}></td>
                            <td th:text=${attendance.month}></td>
                            <td th:text=${attendance.day}></td>
                            <td>
                                    <span th:text=${attendance.staHour} />
                                    :
                                    <span th:text=${attendance.staMin} />
                            </td>
                            <td>
                                    <span th:text=${attendance.endHour} />
                                    :
                                    <span th:text=${attendance.endMin} />
                            </td>
                            <td>
                                    <span th:text=${attendance.workingHours()} />
                                    :
                                    <span th:text=${attendance.workingMinutes()} />
                            </td>

                            <td>
                                    <div th:if="${attendance.username == #authentication.principal.username}">
                                            <a th:href="@{/attendance/{id}(id=${attendance.id})}">
                                            <button type="button">編集
                                            </a>
                                            <form th:action="@{/delete}" th:object="${attendance}" method="post">
                                            <button type="submit">削除
                                   			</button>
                                   			<input type="hidden" name="id" th:value="${attendance.id}" />
                                   			</form>

                                    </div>
                            </td>
                    </tr>

                    </table>
                     </tbody>
                     <section th:object="${attendances}">
				<h3>ページングリンク</h3>
				<div class="pager">
					<a th:href="@{${pathWithSort}(page=0)}">最初</a>
					<th:block th:each="i : ${#numbers.sequence(0, attendances.totalPages - 1)}">
						<a th:href="@{${pathWithSort}(page=${i})}" th:text="${i+1}">0</a>
					</th:block>
					<a th:href="@{${pathWithSort}(page=*{totalPages-1})}">最後</a>
				</div>
					</section>
                <section th:object="${attendances}">
					<h3>ソートリンク</h3>
					<ul class="sorter">
						<li><a th:href="@{${pathWithPage}(sort=month)}">月昇順</a></li>
						<li><a th:href="@{${pathWithPage}(sort='month,desc')}">月降順</a></li>
						<li><a th:href="@{${pathWithPage}(sort=name,sort='month,desc')}">名前昇順&amp;月降順</a></li>
					</ul>
				</section>



    </body>
</html>