<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
		<style type="text/css">
		form, .text-center {
		width:50%;
		margin-left:auto;
		margin-right:auto;
		}
		.text-center {
		top: 40%;
		}
		</style>
	</head>
	<body>
		<form th:action="@{/login}" class="user" method="post">
			<th>
				<input type="text" name="username" placeholder="ユーザー名">
			</th>
			<br>
			<th>
				<input type="password" name="password" placeholder="パスワード">
			</th>
			<br>
			<button class="btn">送信</button>
			</form>
			<div class="text-center">
				<a th:href="@{/register}">新規登録</a>
			</div>
	</body>
</html>