<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div class="text-center">
ユーザー登録
</div>
<form th:action="@{/register}" th:object="${form}" method="post" novalidate>

<table>
            <thead>
                <tr>
                    <th> UserName</th>
                    <th> PassWord</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user, itemStat : ** {users}">
                    <td><input th:field="** {users[____${itemStat.index}____].username}"/></td>
                    <td><input th:field="** {users[____${itemStat.index}____].password}"/></td>
                </tr>
            </tbody>
        </table>




<button class="btn btn-primary">登録</button>





</form>
</body>
</html>