<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
</head>
<body>
	<section class="home-content">
		<h2>ユーザー登録</h2>
		<table>
			<form th:action="@{/register}" th:object="${user}" method="post">
				<tr>
					<td>
						<label for="username">名前</label>
					</td>
					<td>
						<label for="password">パスワード</label>
					</td>
				</tr>
				<tr>
					<td>
						<input type="text" class="mr-3" th:field="*{username}">
					</td>
					<td>
						<input type="password" class="mr-3" th:field="*{password}">
					</td>
				</tr>
				<tr>
					<td colspan="3" class="register">
						<input type="submit" class="ope" value="登録">
					</td>
				</tr>
			</form>
		</table>
	</section>
</body>
</html>