<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
		<style>
		p {
			background-color:#FF6666;
			text-align: center;
			}
			</style>
	</head>
	<body>
		<div class="text-center">
		ユーザー登録
		</div>
		<span>
			<form th:action="@{/register}" th:object="${usersCreationDto}" method="post" novalidate>
			<table>
				<thead>
					<p th:text="${error_message}"></p>
						<tr>
							<th> UserName</th>
 							<th> PassWord</th>
 						</tr>
 				</thead>
 				<tbody>
 					<tr th:each="user, itemStat : *{users}">
 						<td><input th:field="*{users[__${itemStat.index}__].username}" /></td>
 						<td><input th:field="*{users[__${itemStat.index}__].password}" /></td>
 					</tr>
 				</tbody>
 			</table>
		<button class="btn btn-primary">登録</button>
			</form>
		</span>
	</body>
</html>