<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{partial/layout}">
<head>
<title>SiteUserList</title>
</head>
<body>
	<section layout:fragment="contents">
		<h2>検索条件</h2>
		<section>
			<form th:action="@{''}" method="get">
				<table>
					<tr>
						<th>id</th>
						<th>権限</th>
						<th>名前</th>
					</tr>
					<tr>
						<th><input class="mr-3" type="number" name="id"
							th:value="${id}" /></th>
						<th><select class="mr-4" type="select" select name="role"
							th:value="${role}" />
							<option value="USER">USER</option>
							<option value="ADMIN">ADMIN</option> </select></th>
						<th><input class="mr-3" type="text" name="username"
							th:value="${username}" /></th>
					<tr>
						<td class="search" colspan="3"><input class="ope"
							type="submit" value="検索" /></td>
					</tr>
				</table>
			</form>
		</section>
		<h2>ユーザー一覧</h2>
		<table class="bordered">
			<thead>
				<tr>
					<th>id:</th>
					<th>権限:</th>
					<th>名前:</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<form th:action="@{/admin/siteuser/edit}" th:object="${idList}"
					method="post">
					<tr th:each="siteuser, itemStat : ${SiteuserList}">
						<td th:text=${siteuser.id}></td>
						<td th:text=${siteuser.role}></td>
						<td th:text=${siteuser.username}></td>
						<td><span> <input type="checkbox" th:id="idList"
								th:name="idList" th:value="${siteuser.id}">
						</span></td>
					</tr>
					<div class="ope">
						<span>
							<button class="ope" type="submit"
								th:formaction="@{/admin/pre/siteuser/create}">作成へ</button>
						</span>
						<span>
							<button class="ope" type="submit">編集へ</button>
						</span>
						<span>
							<button class="ope" type="submit"
								th:formaction="@{/admin/siteuser/delete}">削除へ</button>
						</span>
					</div>
				</form>
			</tbody>
		</table>
		<h3>ページングリンク</h3>
		<section th:object="${users}">
			<div class="pager">
				<a th:href="@{${pathWithSort}(page=0)}">最初</a>
				<th:block
					th:each="i : ${#numbers.sequence(0, users.totalPages - 1)}">
					<a th:href="@{${pathWithSort}(page=${i})}" th:text="${i+1}">0</a>
				</th:block>
				<a th:href="@{${pathWithSort}(page=*{totalPages-1})}">最後</a>
			</div>
		</section>
		<h3>ソートリンク</h3>
		<section th:object="${users}">
			<ul class="sorter">
				<li><a th:href="@{${pathWithPage}(sort=id)}">id昇順</a></li>
				<li><a th:href="@{${pathWithPage}(sort='id,desc')}">id降順</a></li>
				<li><a
					th:href="@{${pathWithPage}(sort=username,sort='id,desc')}">名前昇順&amp;id降順</a></li>
			</ul>

		</section>
	</section>
</body>
</html>