<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Top</title>
		<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
	</head>
	<body class="top">
		<table class="top" border="1">
			<tr>
				<th>ログインユーザー名</th>
				<th>ユーザー権限</th>
			</tr>
			<tr>
				<th th:text="${username}"></th>
				<th th:text="${role}"></th>
			</tr>
			<tr class="top">
				<td>
					<a th:href="@{/attendance}">作成へ</a>
					<a th:href="@{/form/pre/attendances}">一括作成へ</a>
				</td>
				<td>
					<div sec:authorize="hasRole('ROLE_ADMIN')">
						<a th:href="@{/admin/attendance/list}">勤怠管理画面へ</a>
					</div>
					<div sec:authorize="hasRole('ROLE_ADMIN')">
						<a th:href="@{/admin/siteuser/list}">ユーザー管理画面へ</a>
					</div>
					<div sec:authorize="hasRole('ROLE_USER')">
						<a th:href="@{/attendance/list}">勤怠一覧へ</a>
					</div>
				</td>
			</tr>
		</table>
	</body>
</html>
