<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
     <head>
          <meta charset="UTF-8">
          <title>Insert title here</title>
          <style>
          table {
                 width:50%;
                 margin-left:auto;
                 margin-right:auto;
                 }
          td{
                 text-align:center;
            }
          </style>
     </head>
     <body>
     <table  border="1">
             <tr>
                 <th>ログインユーザー名</td>
                 <th>ユーザー権限</td>
             </tr>
             <tr>
                 <th th:text="${username}"></th>
                 <th th:text="${role}"></th>
             </tr>
             <tr>
                 <td>
                      <a th:href="@{/attendance}">作成へ</a>
                 </td>
                 <td>
                      <a th:href="@{/attendance/list}">一覧へ</a>
                 </td>
             </tr>
     </table>
     </body>
     </html>
